<!DOCTYPE html>
<html>
<head>
  <title>Students of Hogwarts</title>
</head>
<body>

  <h1> Student Roll</h1>
  <br>

<%= yield %> <!-- so stop now and go to what controller is saying do  -->
</body>
</html>